*{
    margin: 0 auto;
}
p{
    font-family: sans-serif;
    color: white;
}
main{
    background-color: purple;
    display: flex;
}
form{
    flex: 1;
    text-align: left;
    color: white;
    margin:0;
}
div#signos{
    flex: 1;
}
div#1{

}