@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0 auto;
}

header,
main,
nav,
footer {
    width: 100%;
}

header,
footer {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: rgb(54, 3, 54);
    box-sizing: border-box;
    color: white;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

header div {
    display: flex;
    align-items: center;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3.06em;
    color: white;
    margin-bottom: 5px;
}

main {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: purple;
    box-sizing: border-box;

}

form {
    text-align: center;
    margin-top: 0px;

}

input[type=button] {
    margin-top: 50px;
    font-size: x-large;
    font-family: 'Quicksand', sans-serif;
    background: lightpink;
    border: solid 1px rgb(21, 0, 41);
    border-radius: 12px;
    cursor: pointer;
}

div#principal {
    display: flex;
    text-align: left;
    font-size: 1.7em;
    }

div#signos {
    flex: 1;
    color: white;
    font-family: 'Quicksand', sans-serif;


}
#signos div{
margin: 10px 0px 10px 0px;
}

div#respostas {
    flex: 1;
    text-align: center;
}
div.ativo{
    font-family: 'Quicksand', sans-serif;
    color: black;
    background-color: lightpink;
    border-radius: 12px;
    padding: 5px;
    box-sizing: border-box;

}



footer {
    height: 30px;
    align-items: center;
}