@import url('https://fonts.goog leapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0 auto;
}

header,
main,
nav,
footer {
    width: 100%;
}

header,
footer {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #E6C1E6;
    box-sizing: border-box;
    color: white;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

header div {
    display: flex;
    align-items: center;
}
header img{
    height: 75px;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3.06em;
    color: #661A66;
    margin-bottom: 5px;
}

main {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #E070E0;
    box-sizing: border-box;

}

form {
    text-align: center;
    margin-top: 0px;

}

input[type=button] {
    margin-top: 50px;
    font-size: x-large;
    font-family: 'Quicksand', sans-serif;
    background: #AD57AD;
    border: solid 1px #613061;
    border-radius: 12px;
    cursor: pointer;
    color: #661A66    
}

div#principal {
    display: flex;
    text-align: left;
    font-size: 1.7em;
    color: #661A66;
    font-family: 'Quicksand', sans-serif;
    flex-direction: column;
}
#principal img{
    height: 27.2px;
}
div.linha {
    display: flex;
    flex-direction: row;
    margin: 10px 0px 10px 0px;
    text-align: left;
    align-items: center;

}

#principal div div {
    flex: 1;
}

div.ativo {
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-color: #613061;
    border-radius: 32px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 15%;
}



footer {
    height: 30px;
    align-items: center;
}